.LinkCircle {
  display:block;
  width:60px;
  height:60px;
  background:rgba(0, 0, 0, .2);
  border-radius:100%;
}

.LinkCircle .wave {
  display:block;
  position:absolute;
  top:0;
  left:0;
  box-sizing:border-box;
  border:2px solid rgba(0, 0, 0, .2);
  border-radius:100%;
  opacity:0;
  z-index:-10;
}

.LinkCircle:hover {
  background:rgba(0, 0, 0, .8);
}

.LinkCircle:hover .wave {
  animation:LinkCircleHover 2s cubic-bezier(0, .6, .4, 1) forwards;
}

@keyframes LinkCircleHover {
  from {
    width:60px;
    height:60px;
    opacity:1;
  }
  to {
    width:200px;
    height:200px;
    top:-70px;
    left:-70px;
    opacity:0;
  }
}

.LinkCircle.fadeIn {
  opacity:0;
  display:none;
  animation:LinkCircleFadeIn 2s cubic-bezier(0, .6, .4, 1) forwards;
  animation-delay:1s;
}

@keyframes LinkCircleFadeIn {
  from {
    display:block;
    opacity:0;
    margin-top:100px;
  }
  to {
    display:block;
    opacity:1;
    margin-top:0;
  }
}

.LinkCircle.fadeOut {
  animation:LinkCircleFadeIn .5s cubic-bezier(0, .7, .3, 1) forwards;
  animation-delay:0;
  animation-direction:reverse;
}


