/* ------------------------------- global ------------------------------- */

.HomeMenu {
  font-family:RalewayThin, sans-serif;
}

.HomeMenu h1 {
  margin:0;
  font-size:2.5em;
  text-align:right;
  opacity:.8;
}

.HomeMenu h2 {
  margin:0;
  opacity:.8;
}

.HomeMenu ul li a {
  display:block;
  padding:10px 15px;
  background-color:#FCFCFC;
  margin:5px 85px;
  box-shadow:-2px 2px 0 rgba(0, 0, 0, .1), -1px 1px 2px rgba(0, 0, 0, .2);
  color:#AAA;
}

.HomeMenu ul li:hover a {
  background-color:#444;
  color:#DDD;
  animation:HomeMenuLinkHover 6s cubic-bezier(0, .6, .4, 1) forwards;
}

@keyframes HomeMenuLinkHover {
  to {
    margin:5px 55px;
  }
}

/* ------------------------------- FadeIn ------------------------------- */

.HomeMenu.fadeIn .homeTitle h1 {
  opacity:0;
  animation:homeTitleFadeInH1 4s cubic-bezier(0, .6, .4, 1) forwards;
  animation-delay:1.5s;
}

@keyframes homeTitleFadeInH1 {
  from {
    margin-right:30px;
    opacity:0;
  }
  to {
    margin-right:0;
    opacity:.8;
  }
}

.HomeMenu.fadeIn .homeTitle h2 {
  opacity:0;
  animation:homeTitleFadeInH2 4s cubic-bezier(0, .6, .4, 1) forwards;
  animation-delay:1.5s;
}

@keyframes homeTitleFadeInH2 {
  from {
    margin-left:30px;
    opacity:0;
  }
  to {
    margin-left:0;
    opacity:.8;
  }
}

.HomeMenu.fadeIn ul li a {
  opacity:0;
  animation:homeTitleFadeInUlLiA 2s cubic-bezier(0, .6, .4, 1) forwards;
}

@keyframes homeTitleFadeInUlLiA {
  from {
    opacity:0;
    margin:5px 20px;
  }
  to {
    opacity:1;
    margin:5px 85px;
  }
}

/* ------------------------------- FadeOut ------------------------------ */

.HomeMenu.fadeOut .homeTitle h1 {
  animation:homeTitleFadeOutH1 2s cubic-bezier(0, .6, .4, 1) forwards;
}

@keyframes homeTitleFadeOutH1 {
  from {
    margin-right:0;
    opacity:.8;
  }
  to {
    margin-right:30px;
    opacity:0;
  }
}

.HomeMenu.fadeOut .homeTitle h2 {
  animation:homeTitleFadeOutH2 2s cubic-bezier(0, .6, .4, 1) forwards;
}

@keyframes homeTitleFadeOutH2 {
  from {
    margin-left:0;
    opacity:.8;
  }
  to {
    margin-left:30px;
    opacity:0;
  }
}

.HomeMenu.fadeOut ul li a {
  opacity:1;
  animation:homeTitleFadeOutUlLiA 2s cubic-bezier(0, .6, .4, 1) forwards;
}

@keyframes homeTitleFadeOutUlLiA {
  from {
    opacity:1;
    margin:5px 85px;
  }
  to {
    opacity:0;
    margin:5px 20px;
  }
}

