.WebCom-WebPage-Introduction .html {
  position:fixed;
  height:250px;
  top:50%;
  margin-top:-50px;
  width:360px;
  left:50%;
  margin-left:-180px;
  font-size:.8em;
  text-align:justify;
  color:rgba(0, 0, 0, .6);
  z-index:1000;
}

.WebCom-WebPage-Introduction.fadeIn .html {
  opacity:0;
  animation:PageIntroductionText 2s cubic-bezier(0, .6, .4, 1) forwards;
  animation-delay:2s;
}

@keyframes PageIntroductionText {
  0% {
    margin-top:-40px;
    opacity:0;
  }
  100% {
    margin-top:-50px;
    opacity:1;
  }
}

.WebCom-WebPage-Introduction.fadeOutChildren .html {
  animation:PageIntroductionText 1s cubic-bezier(0, .6, .4, 1) forwards;
  animation-direction:reverse;
}

