.background-carousel {
  width:200px;
  position:fixed;
  height:100%;
}

.background-carousel-l {
  bottom:0;
  left:50%;
  margin-left:-350px;
  background:red;
}

.background-carousel-r {
  top:0;
  right:50%;
  margin-right:-350px;
  background:blue;
}

.WebCom-WebPage-Home.fadeIn .background-carousel-l,
.WebCom-WebPage-Home.fadeIn .background-carousel-r {
  height:0;
  animation:HomeBgCarouselFadeIn 1s cubic-bezier(0, .6, .4, 1) forwards;
  animation-delay:2s;
}

@keyframes HomeBgCarouselFadeIn {
  0% {
    height:0;
  }
  100% {
    height:100%;
  }
}

